<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morni.mornimessagecenter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- It is important to comment the intent filter before releasing, otherwise after merging this manifest and application's manifest,
           there will be 2 intent launchers and 2 app icons in the device -->

        <!-- ONLY for testing -->
        <activity android:name=".ui.activity.TestActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MorniMessageActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>